.parent
{
    -fx-background-color: transparent;
}

.pane
{
    -fx-background-color: #ff7f27;
}

.orangepane
{
    -fx-background-color: black;
    
}

.orange-btn
{
    -fx-background-color: #ff7f27;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
}
